* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#hotel_dis {
  background-color: white;
  width: 80%;
  margin-left: 12%;
  /* border: 1px solid rebeccapurple; */
  padding: 5px 12px;
}
#covid_rule {
  background-color: #616161;
  width: 100%;
  padding: 12px 0px;
  margin-left: auto;
  border-radius: 5px;
}
#covid_box1 {
  display: flex;
  gap: 10px;
  color: white;
}
#alert {
  margin: 20px;
}
#see_all {
  margin: 10px 0px;
  /* border: 1px solid red; */
  color: #01a4bb;
}
#see_all a {
  margin-left: 1%;
  text-decoration: none;
  color: #01a4bb;
  font-size: 15px;
}
#see_all p {
  margin-left: 1%;
}
#images {
  margin-top: 20px;
  /* border: 1px solid rebeccapurple; */
  display: flex;
  gap: 5px;
  width: 100%;
}
#images img {
  max-width: 100%;
}

#small_pic {
  display: flex;
  gap: 5px;
  padding: 10px 5px;
  /* border: 1px solid red; */
}
#options {
  /* border: 1px solid red; */
  margin-top: 7px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
#options_2 {
  display: flex;
  gap: 25px;
}
#options_2 p {
  font-size: 16px;
  color: #999999;
}
#options_2 .currentP {
  color: #01a4bb;
}
#reserve_btn {
  /* height: 40px; */
  width: 150px;
  padding: 10px 18px;
  border-radius: 3px;
  background-color: #cf4b6e;
  border: none;
  outline: none;
  color: white;
  /* margin-top: 5px;s */
  font-size: 16px;
}
#hor_line {
}
#vip_access {
  background-color: white;
  width: 80%;
  margin-left: 12%;
  padding: 5px;
  margin-top: 14px;
}
#vip_access > div {
  display: flex;
}
#id_vip {
  margin-right: 90px;
}

#vip_para {
  display: flex;
  gap: 20px;
  margin-left: 1%;
  padding: 1%;
}
#vip_para > div {
  width: 30%;
}

#vip_para > div:nth-child(2) {
  display: flex;
  gap: 20px;
}
#vip_para > div:nth-child(3) {
  display: flex;
  gap: 20px;
}
.vip_img {
  margin-right: 10%;
  margin-top: 10px;
}
#lock_logo {
  background-color: white;
  width: 80%;
  margin-left: 12%;
  padding: 5px;
  margin-top: 14px;
}
#member {
  display: flex;
  gap: 5px;
}
#sign {
  display: flex;
  gap: 30px;
}
.lock_logo {
  margin-top: 2px;
}
#unesco{
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.small_vip_btn{
  height: 20px;
  width: 90px;
  border-radius: 10px;
  background-color: black;
  color: white;
}
#unesco>div:nth-child(2){
/* margin-top: -1em; */
}
#hotel_name{
  /* margin-top: -2em; */
}
#star{
  display: flex;
  /* margin-top: -1em; */
}
.color_star{
  color: rgb(112, 111, 111);
}
.class_review{
 color:  #3c8f8b;
}
#reviews{
  display: flex;
  justify-content: space-between;
  
}
#class_review{
margin-top: 30px;
}
#Popular{
  /* margin-top: -1em;  */
  margin-bottom: 10px;
}
#pool{
  display: flex;
  gap: 10px;
  width: 30%;
}
.shift{
   margin-top: -0.1em; 
  
}
#amenities{
  display: flex;
  gap: 50px;
  margin-bottom: 20px;
}
