* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  #main_div{
      background-color:whitesmoke;
      height: 650px;
      width: 25%;
    border-radius: 15px;
  }
  #how_para{
      display: flex;
      height: 35px;
      background-color: #01B1FF ;
      justify-content: space-between;
      border-radius: 3px;

  }
  .button_x{
      height: 25px;
      width: 25px;
  }
  .button_x1{
    height: 25px;
    width: 25px;
    margin-top: 4px;
    font-size: 16px;
    border-radius: 4px;
   
}
#para_chat{
 text-align: center;
 margin-top: 10px;
 margin-right: 25px;
}

#logo{
 text-align: center;
 margin-top: 50px;
}
#logo_para{
  text-align: center;
}
#chat_start{
  display: flex;
  gap: 5px;
  margin-top: 5px;
}
.para_chat{
  height: 45px;
  background-color: rgb(214, 213, 213);
  border-radius: 10px;
  
}
#chat_start2{
  display: flex;
  gap: 5px;
  margin-top: 10px;
}
.para_chat{
  height: 45px;
  background-color: rgb(214, 213, 213);
  border-radius: 10px;
  
}
.para_chat1{
  height: 65px;
  background-color: rgb(214, 213, 213);
  border-radius: 10px;

  
}
#button_section{
 
  margin-top: 150px;
}
#down_btn{
  display: flex;
  gap: 10px;
  text-align: center;
  margin-bottom: 20px;
}
#first_btn{
 margin-left: 10px;
 
}
.button_class{
  height: 40px;
  width: 110px;
  color: #01B1FF;
  border-radius: 25px;
  border-color:#01B1FF ;
}
.button_class1{
  height: 40px;
  width: 150px;
  color: #01B1FF;
  border-radius: 25px;
  border-color:#01B1FF ;
}
#last_line{
  display: flex;
  gap: 10px;
  margin-top: 25px;
  margin-left: 10px;
}
.input_box{
  height: 50px;
  width: 270px;
  border-color: rgb(182, 179, 179);
  font-size: 16px;
  border-radius: 5px;
}
.icon_place{
  margin-top: 5px;
}




